name: CD (Local Self-Hosted)

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Pull latest image
        run: |
          cd /home/eldorz/deploy
          docker compose pull

      - name: Restart containers
        run: |
          cd /home/eldorz/deploy
          ./deploy.sh
